@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
h1 {
  font-size: 140px;
  font-weight: 700;
  line-height: 140px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

h2 {
  font-size: 120px;
  font-weight: 700;
  line-height: 132px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  font-size: 90px;
  font-weight: 700;
  line-height: 99px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
